.dropdown{
    text-align: center;
    padding: 10px;
}

.radio{
    text-align: center;
    padding: 10px;
}


.chartDem div {
        font: 12px sans-serif;
        text-align: right;
        padding: 7px;
        margin: 2.5px;
        color: white;
	background-color: blue;
}

.chartRep div {
        font: 12px sans-serif;
        text-align: right;
        padding: 7px;
        margin: 2.5px;
        color: white;
	background-color: red;
}

.go{
    text-align: center;
    padding: 15px;
}

h1{
    text-align:center;
}

.left{
    float: left;
    width: 625px;
    border: 3px solid blue;
    padding: 10px;
}

.right{
    float: right;
    width: 625px;
    border: 3px solid red;
    padding: 10px;
}


